 <ul class="side-nav" role="navigation" title="Link List">
   <li role="menuitem"><%= link_to 'Add store', new_store_path %></li>
   <li role="menuitem"><%= link_to 'Find store', stores_path %></li>
 </ul>