<div id="container-new">
  <div class="row">
    <div class="small-12 large-8 columns">
      <%= render "new_store_form" %>
    </div>
    <div class="small-12 large-4 columns border" >
      <div id="map"></div>
    </div>  
  </div>

</div>

<!--
<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script> 
-->
<script async defer src="https://maps.googleapis.com/maps/api/js?callback=initialise2"></script>







