<div id="container-new">
  <div class="row">
    <div class="small-6 large-9 columns">
      <%= render "new_store_form" %>
    </div>
    <div class="small-6 large-2 columns">
      <div id="map"></div>
    </div>  
  </div>

</div>

<!--
<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script> 
-->
<script async defer src="https://maps.googleapis.com/maps/api/js?callback=initialise2"></script>







