<footer class="row">
  <div class="large-12 columns">
    <hr>
    <div class="row">
      <div class="large-9 columns">
        <p>Savvying, built for savvy shoppers - A General Assembly project for WDI15 - London 2015</p>
      </div>
      <div class="large-1 columns">
        <%= link_to 'Home', root_path %>
      </div>
      <div class="large-1 columns">
        <%= link_to 'Stores', stores_path %>
      </div>
      <div class="large-1 columns">
        <%= link_to 'Products', items_path %>
      </div>
    </div>
  </div>
</footer>

