 

 <ul class="side-nav" role="navigation" title="Link List"> 
   <li role="menuitem"><%= link_to 'New item?', new_item_path, :title => "New item?" %></li> 
   <li role="menuitem"><%#= link_to 'Find product', new_item_path, :title => "Find a product" %></li>
 </ul>
 <%#= render "items/finder_form" %>



