 

 <ul class="side-nav" role="navigation" title="Link List"> 
   <li role="menuitem"><%= link_to 'New item?', new_item_path, :title => "New item?" %></li>
   <div class="linethin"></div> 
   <li role="menuitem"><%= link_to 'Find product', new_item_path, :title => "Find a product" %></li>
   <div class="linethin"></div> 
 </ul>
 <%= render "items/finder_form" %>



