<div id="finder-panel" class="show">
  <div class="row">
    <div class="large-12 columns">
      <div class="row collapse prefix-radius">
        <div class="small-8 columns">
          <input id="address" type="text" placeholder="Coca Cola" autofocus>
        </div>
        <div class="small-4 columns">
          <a id="submit" role="button" aria-label="submit form" class="button tiny" title="Find it!">Find</a>
        </div>
      </div>
    </div>
  </div>
</div>
