<div class="row">
  <div class="small-6 large-9 columns">
    <div id="map"></div>
  </div>
  <div class="small-6 large-2 columns">
    <%= render "items/aside" %>
  </div>  
</div>










<script async defer src="https://maps.googleapis.com/maps/api/js?callback=initMap">
</script>