<div id="container-home">
  <div class="row">
    <div class="large-1 columns"></div>
    <!-- Centering welcoming message-->
    <div class="large-10 columns">
      <h1 id="h1-home" >WELCOME SAVVIERS!</h1>
    </div>
    
    <div class="large-1 columns"></div>
  </div>
  <div class="row">
    <div class="large-1 columns"></div>
    <!-- Centering welcoming message-->
    <div class="large-10 columns">
      <h2 id="h2-home">
        Id neque luctus aliquam dictum, nunc vestibulum pede, mauris quo amet nulla mauris sit at, integer vel ultricies. Praesent montes est est mauris suscipit mauris, quam sem vivamus et a sodales. Rhoncus dui et mi. Ligula voluptates. Viverra aenean nulla, curabitur sapien suspendisse viverra, taciti sit posuere.<br>
        Faucibus amet tempor sed ut, nunc vitae quam luctus purus, gravida vel est magna, non ipsum ridiculus augue quam arcu, cras sollicitudin per ut aenean consectetuer. Praesent magna ligula eget iaculis. Augue neque viverra. Mattis parturient condimentum aenean sed potenti eu, pretium nec, a arcu. Scelerisque ipsum nec consequatur nulla at convallis, pede est. Laoreet bibendum id, dui cras quis fermentum sociis.<br>
        Nunc eleifend ultrices cum venenatis pharetra sit, tortor metus eget est nullam pretium, posuere id varius eu in a. Luctus amet enim facilisis, velit vehicula vestibulum, venenatis vestibulum neque, ut gravida felis proin enim id. Habitasse sagittis libero euismod laoreet mi, est fermentum hac est, aliquam in, nam nullam cum sed feugiat. Integer ipsum elementum et donec, lectus sagittis, massa orci odio, amet pellentesque ac sit ridiculus, odio vivamus euismod volutpat integer. Est non hac aliquam ornare lorem, vel justo, nibh tincidunt.<br>
      </h2>
    </div>
    
    <div class="large-1 columns"></div>
  </div>
</div>