<div id="container-home">
  <div class="row">
    <div class="large-1 columns"></div>
    <!-- Centering welcoming message-->
    <div class="large-10 columns">
      <h1 class="h1-home" >WELCOME SAVVIERS!</h1>
    </div>
    <div class="large-1 columns"></div>
  </div>
  <div class="row">
    <div class="large-1 columns"></div>
    <!-- Centering welcoming message-->
    <div class="large-10 columns">
      <h2 class="h2-home">
        <span><em>Have you ever heard that kind of tune which says "the store at the corner surprised me, I bought this stuff and it was really cheap!!!</em>"</span>
        <br>
        <span>Well... that happens more often than you think!!!</span>
        <br>
        <span>Have you ever compared prices between stores? There is probably a measurable difference between prices in your surroundings, and if you are savvy, you could save a lot of money.</span>
        <br>
        <span>This website is a sharing space to put together the cheapest products you can find around home.</span>
      </h2>
    </div>  
    <div class="large-1 columns"></div>
  </div>
</div>